POSTGRES_USER=capstone
POSTGRES_PASSWORD=capstone
POSTGRES_DB=capstone
POSTGRES_PORT=5432
TEST_POSTGRES_PORT=5433
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
TEST_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:${TEST_POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DATABASE_URL}
GOOSE_MIGRATION_DIR=./db/migrations

CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

NGROK_AUTHTOKEN=
NGROK_URL=

APP_ENV=development
DEV_BYPASS_SECRET=
