POSTGRES_USER=capstone
POSTGRES_PASSWORD=capstone
POSTGRES_DB=capstone
POSTGRES_PORT=5432
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DATABASE_URL}
GOOSE_MIGRATION_DIR=./db/migrations

CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

NGROK_AUTHTOKEN=
NGROK_URL=https://cuddly-ladybug-innocent.ngrok-free.app

APP_ENV=development
DEV_BYPASS_SECRET=